/**
 * Front end specific CSS
 */
/**
*
* default Widget css.
*/
.widget .eaw-legacy.eaw-block ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
.widget .eaw-legacy.eaw-block li {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
  list-style-type: none; }
.widget .eaw-legacy.eaw-block a {
  display: inline;
  text-decoration: none; }
.widget .eaw-legacy.eaw-block h3 {
  background: none;
  clear: none;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em; }
.widget .eaw-legacy.eaw-block .eaw-booknow {
  margin-top: 1rem;
  margin-bottom: 1rem; }
.widget .eaw-legacy.eaw-block .eaw-thumb {
  border: 1px solid #EEE;
  box-shadow: none;
  margin: 2px 10px 2px 0;
  padding: 3px; }
.widget .eaw-legacy.eaw-block .eaw-summary {
  font-size: 12px; }
.widget .eaw-legacy.eaw-block .eaw-time {
  color: #bbb;
  font-size: 11px; }
.widget .eaw-legacy.eaw-block .eaw-comment {
  color: #bbb;
  font-size: 11px;
  padding-left: 5px; }
.widget .eaw-legacy.eaw-block .eaw-alignleft {
  display: inline;
  float: left; }
.widget .eaw-legacy.eaw-block .eaw-alignright {
  display: inline;
  float: right; }
.widget .eaw-legacy.eaw-block .eaw-aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.widget .eaw-legacy.eaw-block .eaw-clearfix:before, .widget .eaw-legacy.eaw-block .widget .eaw-clearfix:after {
  content: "";
  display: table; }
.widget .eaw-legacy.eaw-block .eaw-clearfix:after {
  clear: both; }
.widget .eaw-legacy.eaw-block .eaw-clearfix {
  zoom: 1; }

